body {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("/ror-bg.jpg") no-repeat center fixed !important;
  height: 100vh !important;
  width: 100vw !important;
  margin: 0;
}

.riddles--display {
  --bs-bg-opacity: 0.35;
  margin-top: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4862745098);
}

.background-white {
  background-color: #2c578e;
  color: #fff;
  width: 95%;
  padding: 0.5em;
  border-radius: 0.5em;
}

#inputColor {
  accent-color: red;
}

.img-description {
  --bs-bg-opacity: 0.35;
  margin-top: 5px;
  text-align: center;
}

.quests {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1em;
  padding-top: 48%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b {
  font-weight: bolder;
}

strong {
  font-weight: bolder;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}

samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

img {
  border-style: none;
}

button {
  -webkit-appearance: button;
  border-style: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: 1px dotted;
  overflow: visible;
  padding: 0;
  text-transform: none;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

optgroup {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}

textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
}

[type="button"] {
  -webkit-appearance: button;
  border-style: none;
  outline: 1px dotted ButtonText;
  padding: 0;
}

[type="reset"] {
  -webkit-appearance: button;
  border-style: none;
  outline: 1px dotted ButtonText;
  padding: 0;
}

[type="submit"] {
  -webkit-appearance: button;
  border-style: none;
  outline: 1px dotted ButtonText;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  -webkit-appearance: button;
  font: inherit;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.riddle-or-figth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.riddles--suggestions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 15px;
  grid-template-areas: ". .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 15em;
  margin-top: 1em;
  padding: 0.5em 0;
}

.riddles--suggestions > button {
  background-color: #80140a;
}

.riddle-or-figth > button {
  margin: 1em;
  color: white;
  background-color: #2c578e;
}

/*# sourceMappingURL=index.css.map */
